Repository ByteOtter/OtterDen, pull requests merged in 2023-02, with the labels that each got.

#75 fix remote redirect vulnarability
  OtterDen/otter_den/main/routes.py
  OtterDen/otter_den/templates/layout.html
  OtterDen/otter_den/users/routes.py
Labels: python, html, usr-feature, templates

#76 Add working hyperlink detection in post content
  OtterDen/otter_den/static/main.css
  OtterDen/otter_den/static/scripts/gallery.js
  OtterDen/otter_den/static/scripts/urlFinder.js
  OtterDen/otter_den/templates/post.html
Labels: html, css, templates

#78 Add Flask-Migrate to make model changes easier
  OtterDen/otter_den/__init__.py
  migrations/alembic.ini
  migrations/env.py
  migrations/script.py.mako
  requirements.txt
Labels: python, dependencies

#80 Pin posts to profile page
  OtterDen/otter_den/posts/routes.py
  OtterDen/otter_den/static/scripts/ajaxHandler.js
  OtterDen/otter_den/templates/home.html
  OtterDen/otter_den/templates/post.html
  OtterDen/otter_den/templates/post_history.html
  OtterDen/otter_den/templates/post_preview.html
  OtterDen/otter_den/templates/user_profile.html
Labels: python, html, posts-feature, templates

#81 Add image fading to preview images
  OtterDen/otter_den/static/main.css
Labels: css

#83 Add navigational dropdown
  OtterDen/otter_den/static/main.css
  OtterDen/otter_den/templates/account.html
  OtterDen/otter_den/templates/home.html
  OtterDen/otter_den/templates/layout.html
Labels: html, css, templates

#84 refactor deletion modals
  OtterDen/otter_den/static/main.css
  OtterDen/otter_den/templates/account.html
  OtterDen/otter_den/templates/post.html
  OtterDen/otter_den/templates/post_history.html
Labels: html, css, templates

#87 Rework about page
  OtterDen/otter_den/main/routes.py
  OtterDen/otter_den/static/main.css
  OtterDen/otter_den/templates/about.html
  OtterDen/otter_den/templates/license.html
Labels: python, html, css, templates

#93 Add dummy topic dropdown in layout.html
  OtterDen/otter_den/templates/layout.html
Labels: html, templates

#94 Add topic dropdown to post creation
  OtterDen/otter_den/main/routes.py
  OtterDen/otter_den/models.py
  OtterDen/otter_den/posts/forms.py
  OtterDen/otter_den/posts/routes.py
  OtterDen/otter_den/templates/create_new_post.html
  OtterDen/otter_den/templates/layout.html
  OtterDen/otter_den/templates/post.html
  OtterDen/otter_den/templates/post_preview.html
  OtterDen/otter_den/templates/topic_channel.html
  migrations/versions/1cc6876dd84f_post_topic_update.py
Labels: python, html, posts-feature, templates
